<div class="container" id="<%= dom_id evento %>">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">Nome do Evento</h5>
          <p class="card-text"><%= evento.nome_evento %></p>
          <p class="card-text"><%= evento.descricao %></p>
        </div>
        <div class="col d-flex justify-content-end">
          <% unless current_page?(eventos_path) %>
            <ul class="list-unstyled">
              <li>
                <%= link_to edit_evento_path(@evento), class: 'nav-link' do %>
                  <i class="bi bi-pencil text-warning fs-5"></i>
                <% end %>
              </li>
              <li>
                <%= link_to evento_path(@evento), data: { turbo_method: :delete }, class: 'nav-link' do %>
                  <i class="bi bi-trash text-danger fs-5"></i>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Casa de Show</h5>
      <p class="card-text"><%= evento.casa_de_show %></p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Datas e Horas</h5>
      <p class="card-text">Data Início: <%= evento.data_inicio %></p>
      <p class="card-text">Data Término: <%= evento.data_termino %></p>
      <p class="card-text">Hora Início: <%= evento.hora_inicio %></p>
      <p class="card-text">Hora Término: <%= evento.hora_termino %></p>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Detalhes Adicionais</h5>
      <p class="card-text">Horas Tocadas: <%= evento.horas_tocadas %> : <%= evento.minutos_tocados %></p>
      <p class="card-text">Cache: R$ <%= number_with_precision(evento.cache, precision: 2) %></p>
      <p class="card-text">Cover: R$ <%= number_with_precision(evento.cover, precision: 2) %></p>
      <p class="card-text">Localização: <a href="<%= evento.localizacao %>"><i class="bi bi-link-45deg fs-5"></i></a> </p>
    </div>
  </div>

</div>