<div id="<%= dom_id evento %>">
  <p>
    <strong>Nome evento:</strong>
    <%= evento.nome_evento %>
  </p>

  <p>
    <strong>Casa de show:</strong>
    <%= evento.casa_de_show %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= evento.data_inicio %>
  </p>

  <p>
    <strong>Data termino:</strong>
    <%= evento.data_termino %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= evento.hora_inicio %>
  </p>

  <p>
    <strong>Hora termino:</strong>
    <%= evento.hora_termino %>
  </p>

  <p>
    <strong>Horas tocadas:</strong>
    <%= evento.horas_tocadas %>
  </p>

  <p>
    <strong>Cache:</strong>
    <%= evento.cache %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= evento.cover %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= evento.localizacao %>
  </p>

</div>
