<div class="container-fluid bg-body-secondary rounded-4 p-5">
    <h1 class="display-1 text-center pt-3 pb-4 mb-5">GigHub</h1>
    
    <h2 class="text-center">Login</h1>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
            <div class="field col-12 p-3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
            </div>

            <div class="field col-12 p-3 pt-1">
                <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Senha', class: 'form-control' %>
            </div>

            <div class="actions col-12 p-3 pt-1 text-center">
                <%= f.submit "Acessar", class: 'btn btn-dark w-50' %>
            </div>
            <div class="col-12 p-3 pt-1">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    <% end %>
</div>