<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="light">
  <head>
    <title>Dellanoche</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-body-tertiary">
      <%= render 'shared/navbar' %>
    <%- if usuario_signed_in? %>
      <div class="container mt-5">
        <%= yield %>
      </div>
    <% else %>
      <div class="container-fluid mt-sm-4 mt-md-5 mt-lg-5 pt-3 pt-sm-3 pt-md-4 pt-lg-4 pt-xl-5 pt-3">
          <div class="row mt-sm-4 mt-md-5 mt-lg-5 pt-3 pt-sm-3 pt-md-4 pt-lg-4 pt-xl-5 pt-3 d-flex justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4 col-11">
              <%= yield %>
            </div>
          </div>
      </div>
    <% end %>
  </body>
</html>
